p {
    padding-left: 10rem;
    padding-right: 10rem;
}

.intro-section {
    color: white;
    margin-top: -25px;
    margin-left: -10px;
    margin-right: -10px;
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: rgba(38, 38, 38, 1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display:flex;
    flex-direction: column;
}

.collapse-button {
    padding-top:1rem;
}

.intro-section-collapsed {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 21px;
    text-align: left;
    flex-direction:row;
    justify-content:space-between;
}

.expand-button {
    padding-top: 2rem;
    padding-right: 3.3rem;
}

.intro-section-content {
    text-align: center;
}

.add-node-button {
    position: fixed;
    right: 5rem;
    bottom: 3rem;
    margin-top: 40px;
}

.intro-section-content-title {
    height: fit-content;
    transition: height 0.8s ease-in;
}

.operation-section {
    display: flex;
    justify-content:space-between;
}

.search-status-stack-section {
    margin-right: 10rem;
    padding-right: 20px;
}

.operation-node-section {
    justify-content:center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display:flex;
}

.operation-node {
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    height: 4rem;
    width:4rem;
    border-radius:50%;
}

.operation-node-clicked {
    background-color:red;
    color:white;
}

.operation-node p {
    user-select: none;
    padding-top: 0.3rem;
    padding-left: 0;
    padding-right:0;
}

.node-status-card {
    margin-top: 3.6rem;
    padding-top: 0.4rem;
    padding-left: 1.4rem;
    width: 22rem;
    border-radius: 7px;
    height: 22rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.node-status-card-content {
    padding-left: 0.6rem;
}

.node-status-card-manipulation {
    display: flex;
    justify-content:flex-end;
    padding-right: 1.5rem;
    padding-bottom:1rem;
    padding-left: 4rem;
}

.node-status-card-neighbor-section {
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
}

.neighbor-list {
    display: flex;
    line-break: flex;
}