.add-node-button {
    position: fixed;
    right: 5rem;
    bottom: 3rem;
    margin-top: 40px;
}

.operation-section {
    display: flex;
    justify-content: space-between;
}

.search-status-stack-section {
    margin-right: 10rem;
    padding-right: 20px;
}

.operation-node-section {
    justify-content: center;
    flex-wrap: wrap;
    max-width: 55rem;
    margin-top: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    display: flex;
}

.operation-node {
    margin-right: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}

.operation-node-clicked {
    background-color: red;
    color: white;
}

.operation-node p {
    user-select: none;
    padding-top: 0.3rem;
    padding-left: 0;
    padding-right: 0;
}

.node-status-card {
    overflow: hidden;
    margin-top: 3.6rem;
    padding-top: 0.4rem;
    padding-left: 1.4rem;
    width: 22rem;
    border-radius: 7px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition:height 0.1s ease-in-out;
}

.node-status-card-title {
    margin-left: -1.4rem;
    margin-top: -0.5rem;
    color: white;
    padding-bottom: 1rem;
    margin-bottom: 0.6rem;
}

.node-status-card-title h2 {
    margin-left: 2rem;
    margin-bottom: 0.2rem;
}

.neighbor-title {
    padding-right: 1.5rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.node-status-card-content {
    padding-left: 0.6rem;
}

.node-status-card-manipulation {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 4rem;
}

.node-status-card-neighbor-section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.neighbor-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.neighbor-node {
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    margin-right: 0.6rem;
    margin-bottom:0.6rem;
    user-select: none;
}

.neighbor-list-collapse-section {
    margin-left: -1rem;
    padding-left:1rem;
    overflow: visible;
}